@{
    ViewBag.Title = "About";
}

<section class="about">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>

    <img class="intro" src="/assets/images/about-intro.png" alt="Greetings" />

    <p>My name is Eren Pinaz. I'm a software developer from Ankara, Turkey. I'm specialized in web and server technologies. Currently working as software engineer at <a href="http://usta.com.tr/">Usta Bilgi Sistemleri</a>.</p>
    <p>I always try to keep my skills up to date by reading blogs as well as contributing to open source and taking lessons at sites like <a href="https://www.pluralsight.com/" target="_blank" rel="noopener">Pluralsight</a>. I've attended to <a href="http://idea.metu.edu.tr/" target="_blank" rel="noopener">ITCP</a> (Information Technologies Certificate Program) in <a href="http://www2.ceng.metu.edu.tr/index" target="_blank" rel="noopener">Middle East Technical University</a>. I love solving algorithmic problems and puzzles like <a href="http://adventofcode.com/" target="_blank" rel="noopener">Advent of Code</a> and <a href="https://www.hackerrank.com/pinaz_eren">HackerRank</a>.</p>
    <p>I'm a strong believer in open source. Source code for this blog system is available at <a href="https://github.com/erenpinaz/Blogfolio" target="_blank" rel="noopener">Github/Blogfolio</a>.</p>
    <p>Although i received my bachelor's degree in Business, i've decided to pursue a career in software development. I believe the key to happiness is doing what you love for a living.</p>
    <p>You will know more about me after reading my blog. I will do my best to keep it interesting and up to date. In the meantime, you can check out my CV here: <a href="https://tr.linkedin.com/in/nejdet-eren-pinaz-3a1a43122" target="_blank" rel="noopener">LinkedIn</a>.</p>
</section>