@{
    ViewBag.Title = "About";
}

<section class="about">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>

    <img class="intro" src="/assets/images/about-intro.png" alt="Greetings" />

    <p>I am a software developer from Ankara, Turkey. I am an expert in web and server technologies and I am currently working as a software engineer at <a href="http://usta.com.tr/">Usta Bilgi Sistemleri</a>.</p>
    <p>I always try to keep my skills up to date by reading articles, contributing to open source projects, and taking online classes. I did my master's degree in software engineering and attended the <a href="http://idea.metu.edu.tr/" target="_blank" rel="noopener">ITCP</a> (Information Technologies Certificate Program) program at <a href="http://www2.ceng.metu.edu.tr/index" target="_blank" rel="noopener">Middle East Technical University</a>.</p>
    <p>I also like to challenge myself with algorithmic problems and puzzles like Advent of Code and HackerRank.</p>
    <p>I strongly believe in open source software. The source code for this blog engine is available on <a href="https://github.com/erenpinaz/Blogfolio" target="_blank" rel="noopener">Github/Blogfolio</a>.</p>
    <p>You can check out my complete CV here: <a href="https://tr.linkedin.com/in/nejdet-eren-pinaz-3a1a43122" target="_blank" rel="noopener">LinkedIn</a>.</p>
</section>